In [1]:
import pandas as pd
import csv
import os
from sql_keys import username, password
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify

In [2]:
candy_hierarchy = "Resources/candy_hierarchy.csv"
candy_hierarchy_df = pd.read_csv(candy_hierarchy)
candy_hierarchy_df.head()

,CandyName,Total_Joy,Total_Meh,Total_Despair,NoResponse,TOTAL,Percent_Joy,Percent_Meh,Percent_Despair
0,100 Grand,873,755,85,747,2460,0.354878,0.306911,0.034553
1,3 Musketeers,1058,518,176,708,2460,0.430081,0.210569,0.071545
2,Nestle Butterfinger,1177,460,141,682,2460,0.478455,0.186992,0.057317
3,Chiclets,244,744,761,711,2460,0.099187,0.302439,0.309350
4,Dots,410,657,664,729,2460,0.166667,0.267073,0.269919

In [3]:
candy_data= "Resources/candy-data.csv"
candy_data_df = pd.read_csv(candy_data)
candy_data_df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [4]:
candy_data_df = candy_data_df.rename(columns = {"competitorname":"CandyName"})
candy_data_df.head()

,CandyName,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [5]:
candy_merge = candy_hierarchy_df.merge(candy_data_df, on= ["CandyName"], how="left" )
candy_merge = candy_merge [["CandyName", "Percent_Joy", "Percent_Meh", "Percent_Despair", "sugarpercent", "pricepercent", "winpercent"]]
candy_merge

,CandyName,Percent_Joy,Percent_Meh,Percent_Despair,sugarpercent,pricepercent,winpercent
0,100 Grand,0.354878,0.306911,0.034553,0.732,0.860,66.971725
1,3 Musketeers,0.430081,0.210569,0.071545,0.604,0.511,67.602936
2,Nestle Butterfinger,0.478455,0.186992,0.057317,0.604,0.767,70.735641
3,Chiclets,0.099187,0.302439,0.309350,0.046,0.325,24.524988
4,Dots,0.166667,0.267073,0.269919,0.732,0.511,42.272076
5,Hershey's Milk Chocolate,0.364228,0.271138,0.091463,0.430,0.918,56.490501
6,Hershey's Kisses,0.339024,0.295122,0.090244,0.127,0.093,55.375454
7,Hershey's Special Dark,0.449187,0.206098,0.071138,0.430,0.918,59.236122
8,Junior Mints,0.414634,0.201626,0.100000,0.197,0.511,57.219250
9,Kit Kat,0.588211,0.116667,0.021138,0.313,0.511,76.768600
10,Laffy Taffy,0.182927,0.296341,0.221545,0.220,0.116,41.389557
11,Lemonhead,0.272358,0.280488,0.150407,0.046,0.104,39.141056
12,Mike & Ike,0.217073,0.263008,0.223577,0.872,0.325,46.411716
13,Milk Duds,0.356911,0.259756,0.101626,0.302,0.511,55.064072
14,Milky Way,0.481707,0.197154,0.041463,0.604,0.651,73.099556
15,Mr Good Bar,0.348374,0.261382,0.089431,0.313,0.918,54.526451
16,Nerds,0.312602,0.247561,0.145935,0.848,0.325,55.354046
17,Nestle Crunch,0.482927,0.191870,0.041463,0.313,0.767,66.470680
18,Now & Later,0.146748,0.294715,0.226423,0.220,0.325,39.446800
19,Peanut M&Ms,0.524797,0.153252,0.049187,0.593,0.651,69.483788
20,Pixie Sticks,0.220732,0.263821,0.221951,0.093,0.023,37.722336
21,Reese's Peanut Butter cup,0.608943,0.076423,0.038618,0.720,0.651,84.180290
22,Reese's pieces,0.461789,0.189024,0.068293,0.406,0.651,73.434990
23,M & Ms,0.456098,0.239024,0.030488,0.825,0.651,66.574585
24,Rolo,0.467886,0.184959,0.056911,0.860,0.860,65.716286
25,Skittles original,0.336992,0.245528,0.130488,0.941,0.220,63.085140
26,Smarties candy,0.296341,0.236179,0.172764,0.267,0.116,45.995827
27,Snickers,0.568699,0.118699,0.032114,0.546,0.651,76.673782
28,Sour Patch Kids,0.313008,0.179268,0.207724,0.069,0.116,59.863998
29,Starburst,0.346748,0.250000,0.121545,0.151,0.220,67.037628
30,Swedish Fish,0.306504,0.220325,0.182520,0.604,0.755,54.861111
31,Twix,0.574390,0.116260,0.028862,0.546,0.906,81.642914

In [6]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/ETL-Project')
Base= automap_base()
Base.prepare(engine, reflect = True)

In [7]:
engine.table_names()

['Candy_data', 'Candy_hierarchy', 'Candy_merge']

In [8]:
candy_data_df.to_sql(name="Candy_data", con = engine, if_exists='append', index=False)

In [9]:
candy_hierarchy_df.to_sql(name="Candy_hierarchy", con= engine, if_exists='append', index=False)

In [10]:
candy_merge.to_sql(name="Candy_merge", con= engine, if_exists='append', index=False)

In [11]:
pd.read_sql_query('select * from "Candy_data"', con=engine).head()

,CandyName,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [12]:
pd.read_sql_query('select * from "Candy_hierarchy"', con=engine).head()

,CandyName,Total_Joy,Total_Meh,Total_Despair,NoResponse,TOTAL,Percent_Joy,Percent_Meh,Percent_Despair
0,100 Grand,873,755,85,747,2460,0.354878,0.306911,0.034553
1,3 Musketeers,1058,518,176,708,2460,0.430081,0.210569,0.071545
2,Nestle Butterfinger,1177,460,141,682,2460,0.478455,0.186992,0.057317
3,Chiclets,244,744,761,711,2460,0.099187,0.302439,0.309350
4,Dots,410,657,664,729,2460,0.166667,0.267073,0.269919

In [13]:
pd.read_sql_query('select * from "Candy_merge"', con=engine).head()

,CandyName,Percent_Joy,Percent_Meh,Percent_Despair,sugarpercent,pricepercent,winpercent
0,100 Grand,0.354878,0.306911,0.034553,0.732,0.860,66.971725
1,3 Musketeers,0.430081,0.210569,0.071545,0.604,0.511,67.602936
2,Nestle Butterfinger,0.478455,0.186992,0.057317,0.604,0.767,70.735641
3,Chiclets,0.099187,0.302439,0.309350,0.046,0.325,24.524988
4,Dots,0.166667,0.267073,0.269919,0.732,0.511,42.272076

In [14]:
Base.classes.keys()
data = Base.classes.Candy_data
hierarchy = Base.classes.Candy_hierarchy
merge = Base.classes.Candy_merge
session = Session(engine)